/* Styles go here */

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial;
}

header {
  height: 100px;
  background-color: #ADD8E6;
  text-align: center;
  padding-top: 20px;
  box-shadow: 3px 3px 3px #CCCCCC;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
  color: #1E90FF;
  margin: 0;
}

.main {
  text-align: center;
  padding-top: 80px;
}

#search {
  font-size: 18px;
}

#search label {
  font-weight: bold;
}

#search input {
  font-size: inherit;
  font-family: inherit;
}

#search button {
  font-family: inherit;
  font-size: inherit;
  background-color: #1E90FF;
  border: 1px solid #1E90FF;
  border-radius: 3px;
  cursor: pointer;
  color: #FFFFFF;
}

#search button:hover {
  background-color: #00BFFF;
}

#weather {
  padding: 30px;
  border: 1px solid #CCCCCC;
  width: 500px;
  margin: 100px auto auto;
  background-color: #00BFFF;
  box-shadow: 2px 2px 3px #CCCCCC;
  color: #FFFFFF;
  box-sizing: border-box;
  display: none;
  font-weight: bold;
}

#weather h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 30px;
}

#weatherDescription {
  float: left;
}

#weatherTemperature {
  float: right;
}

#load {
  padding: 30px;
  width: 500px;
  margin: 100px auto auto;
  display: none;
}
